{% extends "base.html" %}
{% block content %}

{% for post in posts %}
{% if post.id = pid %}
<article>
    <header class="entry-header">
    <h1 class="entry-title">{{ post.title }}</h1>
    </header><!-- .entry-header -->
    <div class="entry-content">
    {% autoescape off %}
        {{ post.body }}
        {% endautoescape %}
    </div><!-- .entry-content -->
    <footer class="entry-meta">
    本条目发布于 <a><time class="entry-date" >{{post.timestamp}}</time></a>
    </footer><!-- .entry-meta -->
</article>
<nav class="nav-single">
{% endif %}
{% endfor %}
<span class="nav-previous"><a href="/article/{{pre}}" rel="prev"><span class="meta-nav">&larr;</span>上一篇</a></span>
<span class="nav-next"><a href="/article/{{nex}}" rel="next">下一篇 <span class="meta-nav">&rarr;</span></a></span>
</nav><!-- .nav-single -->

{% endblock %}

{% block linking %}
   <ul>
{% for link in links %}
        <li> <a href="{{link.body}}" >{{ link.title }}</a>  </li>
{% endfor %}
    </ul>
{% endblock %}


{% block recent-post %}
   <ul>
{% for post in posts %}
        <li> <a href="/article/{{post.id}}" >{{ post.title }}</a> </li>
{% endfor %}
    </ul>
{% endblock %}
