{% extends "base.html" %}
{% block content %}
    <header class="entry-header">
    <h1 class="entry-title">Python、Django与我</h1>
    </header><!-- .entry-header -->
    <div class="entry-content">
        <h3>Python</h3>  
        <p >优雅、明确、简单</p>
        <h3>Django</h3>  
        <p >敏捷 、高效</p>
        <h3>我</h3> 
        <p>简单生活、简单爱</P>
        <p>E-mail:  Suwmlee@gmail.com</p>
    </div><!-- .entry-content -->
{% endblock %}


{% block linking %}
   <ul>
{% for link in links %}
        <li> <a href="{{link.body}}" >{{ link.title }}</a>  </li>
{% endfor %}
    </ul>
{% endblock %}


{% block recent-post %}
   <ul>
{% for post in posts %}
        <li> <a href="/article/{{post.id}}" >{{ post.title }}</a> </li>
{% endfor %}
    </ul>
{% endblock %}
